{% extends "navbar.html" %}
{% load static %}

  {% block css %}
    <link rel="stylesheet" href="{% static 'css/TramitesSD copy.css' %}">
  {% endblock %}


  {% block content %}
    <div class="content" >
      <div class="col">
        <div class="container-form">
          <div id="error-container">

          </div>
          <div class="form">
            <div class="container-fluid py-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    {% if messages %}
                      {% for message in messages %}
                        {% if message.tags == 'success' %}
                          <div style="position: absolute; right: 20px; top: 40px; display: flex; align-items: center; padding-right: 0rem; z-index: 2000;"
                              class="alert alert-success alert-dismissible fade show" role="alert">
                        {% elif message.tags == 'error' %}
                          <div style="position: absolute; right: 20px; top: 40px; display: flex; align-items: center; padding-right: 0rem; z-index: 2000; "
                              class="alert alert-danger alert-dismissible fade show" role="alert">
                        {% endif %}
                          {{ message }}
                            <button style="font-size: 10px; border-bottom: none; position: relative; box-shadow: none;" type="button"
                              class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                      {% endfor %}
                    {% endif %}
                    <div class="card-header pb-0">
                      <div class="title">
                        <h3 class="title-text p-3">Solicitud de Legalizaci&oacute;n de Fotocopia de T&iacute;tulo</h3>
                        <p class="text">
                            Por favor, complete todos los campos requeridos para enviar su solicitud.
                            Su informaci&oacute;n es vital para procesar su solicitud de manera adecuada y brindarle el mejor servicio posible.
                        </p>
                      </div>
                    </div>
                    <form  id="formu" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="card-body">
                        <h4 class="textt text-sm">Datos Generales</h4>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="text-input" class="form-control-label">Nombre</label>
                              {{form.nombre}}
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="example-text-input" class="form-control-label">Apellidos</label>
                              {{form.apellidos}}
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="example-text-input" class="form-control-label">Carnet de Identidad</label>
                              {{form.ci}}
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="example-text-input" class="form-control-label">Correo Electr&oacute;nico</label>
                              {{form.email}}
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="example-text-input" class="form-control-label">N&uacute;mero de M&oacute;vil</label>
                              {{form.telefono}}
                            </div>
                          </div>
                        </div>
                        <hr class="horizontal dark">
                        <h4 class="textt text-sm">Datos de la Solicitud</h4>
                        <div class="row">
                          <div class="col-md-6 col-lg-4">
                            <div class="form-group select">
                              <label for="text-input" class="form-control-label">Tipo de Estudio</label>
                              {{form.tipo_estudio}}
                            </div>
                          </div>
                          <div class="col-md-6 col-lg-3">
                            <div class="form-group select">
                              <label for="text-input" class="form-control-label">Uso</label>
                              {{form.uso_i}} 
                            </div>
                          </div>
                          <div class="col-md-12 col-lg-5">
                            <div class="form-group select">
                              <label for="text-input" class="form-control-label">Fotocopia del T&iacute;tulo(Solo en PDF)</label>
                              {{form.archivo}}
                            </div>
                          </div>
                          <div class="form-group col-md-6 text-white" >
                            <label for="{{ form.intereses.id_for_label }}"  class="form-control-label"> Intereses</label>
                            <div style="display: flex; flex-wrap: wrap;" >
                              {% for id, label in form.intereses.field.choices %}
                              <div class="col-6">
                                <input class="form-check-input" type="radio" name="{{ form.intereses.html_name }}" id="{{ form.intereses.auto_id }}" value="{{ id }}" {% if form.data.intereses == id %}checked{% endif %}>
                                <label class="form-check-label form-control-label" for="{{ form.intereses.auto_id }}">{{ label }}</label>
                              </div>
                              {% endfor %}
                            </div>
                          </div>
                          <div id="prueba" style="display:none;" class="col-md-5 text-white">
                            <div class="form-group">
                              <label for="text-input" class="form-control-label">Organismo</label>
                              {{form.organismo_op}}
                            </div>
                          </div>
                          <div class="col-md-5" id="id_organismo" style="display:none;">
                            <div class="form-group">
                              <label for="text-input" class="form-control-label">Organismo</label>
                              {{form.organismo}}
                            </div>
                          </div>
                          <div class="col-md-12" id="id_motivo" style="display:none; ">
                            <div class="form-group">
                              <label for="text-input" class="form-control-label">Motivo</label>
                              {{form.motivo}}
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="text-input" class="form-control-label">Funcionario</label>
                              {{form.funcionario}}
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="text-input" class="form-control-label">Carrera</label>
                              {{form.carrera}}
                            </div>
                          </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="text-input" class="form-control-label">Año</label>
                            {{form.year}}
                          </div>
                        </div>
                      </div>
                      <hr class="horizontal dark">
                      <h4 class="textt text-sm">Registro de T&iacute;tulos de la Secretar&iacute;a</h4>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="text-input" class="form-control-label">Tomo</label>
                            {{form.tomo}}
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="text-input" class="form-control-label">Folio</label>
                            {{form.folio}}
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="text-input" class="form-control-label">N&uacute;mero</label>
                            {{form.numero}}
                          </div>
                        </div>
                      </div>
                      <div class="boot d-flex flex-wrap justify-content-center align-items-center">
                        <input type="submit" value="Aceptar" id="boton" class="btn btn-primary btn-sm m-2">
                        <a href="{% url 'Secretaria' %}" class="btn btn-primary btn-sm m-2 text-decoration-none">Cancelar</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>    
      </div>
    </div>
  {% endblock %}
  
  {% block js %}

  <script src="{% static 'js/validations_pregrado_internacional_legalizacion.js' %}"></script>
  
  <script>
    // Define el nombre del campo de intereses como una variable global
  var interesesFieldName = "{{ intereses }}";
  
  document.addEventListener("DOMContentLoaded", function() {
    // Función para manejar el cambio en los radio buttons de Intereses
    function handleInterestChange() {
      
      var selectedInterest = document.querySelector(`input[id="id_intereses"]:checked`).value;
      var organismoOp = document.getElementById('prueba');
      var organismo = document.getElementById('id_organismo');
      var motivo = document.getElementById('id_motivo');
      console.log("selectedInterest")
      if (selectedInterest === 'Particular') {
        organismoOp.style = 'display:block;';
        organismo.style = 'display:none;';
        motivo.style = 'display:none;';
      } else if (selectedInterest === 'Estatal') {
        organismoOp.style = 'display:none;';
        organismo.style = 'display:block;';
        motivo.style = 'display:block;';
      }
    }
    
    document.querySelector("#id_intereses").checked = true

    handleInterestChange()
    
    // Actualiza los campos al cambiar la selección de Intereses
    document.querySelectorAll("#id_intereses").forEach(input => {
      input.addEventListener('change', handleInterestChange);
    });
    document.getElementById("formu").addEventListener("submit", function(e) {
      var selectedInterest = document.querySelector(`input[id="id_intereses"]:checked`).value;
      if (selectedInterest === 'Estatal') {
          var organismoField = document.getElementById('id_organismo').querySelector("input, select, textarea"); // Asume que el campo es un input, select o textarea
          var motivoField = document.getElementById('id_motivo').querySelector("input, select, textarea"); // Asume que el campo es un input, select o textarea
          if (!organismoField.value ||!motivoField.value) {
              e.preventDefault(); // Previene el envío del formulario
              organismoField.style = "border:solid 2px #212d57;"
              motivoField.style = "border:solid 2px #212d57;"
              alert('Los campos Organismo y Motivo son obligatorios cuando se selecciona Estatal.');
              // Aquí puedes agregar más lógica para mostrar mensajes de error específicos o resaltar los campos faltantes
          }
      }
  });

  });
</script>
 
  {% endblock %}

