{% extends "Base Admin.html" %}
{% load static %}

<!-- Conatiner CSS -->
{% block css %}
<link rel="stylesheet" href=" {% static 'Plataforma/css/Crear Noticia.css' %}">
{% endblock %}
<!-- End Conatiner CSS -->

{% block content %}
<div id="error-container">

</div>
<div class="container-form">
    <div class="form">
        <div class="contact-form">
            <form action="." method="POST">
                {% csrf_token %}
                <h3 class="title">Cambiar Configuración de Correo </h3>
                <div class="input-container {% if form.address.value %}focus{% endif %}">
                    {{form.address}}
                    <label for="">Dirección de Correo</label>
                    <span>Dirección de Correo</span>
                </div>
                <div class="input-container {% if form.smtp_server.value %}focus{% endif %}">
                    {{form.smtp_server}}
                    <label for="">SMTP_SERVER</label>
                    <span>SMTP_SERVER</span>
                </div>
                <div class="input-container {% if form.smtp_port.value %}focus{% endif %}">
                    {{form.smtp_port}}
                    <label for="">SMTP_PORT</label>
                    <span>SMTP_PORT</span>
                </div>
                <div class="input-container {% if form.smtp_username.value %}focus{% endif %}">
                    {{form.smtp_username}}
                    <label for="">Usuario de Correo</label>
                    <span>Usuario de Correo</span>
                </div>
                <div class="input-container {% if form.smtp_password.value %}focus{% endif %}">
                    {{form.smtp_password}}
                    <label for="">Contraseña de Correo</label>
                    <span>Contraseña de Correo</span>
                </div>
                <input type="submit" value="Guardar Cambios" class="btn1" id="boton">
            </form>
        </div>
    </div>
</div>
{% endblock %}

<!-- Conatiner JS -->
{% block js %}
<script src="{% static 'Plataforma/js/FormularioSelect.js' %}"></script>
<script src="{% static 'Plataforma/js/Editar Email.js' %}"></script>
{% endblock %}
<!-- End Conatiner JS -->