{% extends "Base.html" %}
{% load static %}

<!-- Conatiner CSS -->
{% block css %}
<link rel="stylesheet" href=" {% static 'Plataforma/css/FormularioSelect.css' %}">
{% endblock %}
<!-- End Conatiner CSS -->

{% block content %}
<div class="container-form">
    <div class="form">
        <div class="contact-info">
            <h3 class="title">Información Personal</h3>
            <p class="text">
                Nos comprometemos a proteger tu información personal y a garantizar tu privacidad en todo momento.
                Valoramos la confianza que depositas en nostros al compartir tus datos, por lo que nos comprometemos
                a utilizarlos de manera segura y responsable.
            </p>
            <p class="text">
                Por favor es necesario que introdusca su información personal antes de realizar un trámite o servicio de
                nustra plataforma, así nos ayuda tanto usted
                a nostros como nosotros a usted. Muchas gracias.
            </p>
            <p class="text">
                Si tienes alguna pregunta o inquietud sobre el tratamiento de tus datos personales, no dudes en ponerte
                en contacto con nosotros. Estamos aquí para brindarte toda la información que necesites y garantizar que
                tu privacidad sea respetada en todo momento.
            </p>
        </div>
        <div class="contact-form">
            <span class="circle one"></span>
            <span class="circle two"></span>
            <form action="forms.html">
                <h3 class="title">Actualice su información</h3>
                <div class="input-container focus">
                    <input type="text" name="first_name" value="{{ request.user.first_name }}" class="input" id="inputName"
                        disabled>
                    <label for="">Nombre</label>
                    <span>Nombre</span>
                </div>
                <div class="input-container focus">
                    <input type="text" name="last_name" value="{{ request.user.last_name }}" class="input" id="inputLastName"
                        disabled>
                    <label for="">Apellidos</label>
                    <span>Apellidos</span>
                </div>
                <div class="input-container focus">
                    <input type="text" name="carnet" value="{{ request.user.carnet }}" class="input" id="inputCi"
                        disabled>
                    <label for="">Carnet</label>
                    <span>Carnet</span>
                </div>
                <div class="input-container focus">
                    <input type="email" name="email" value="{{ request.user.email }}" class="input" id="inputEmail"
                        disabled>
                    <label for="">Email</label>
                    <span>Email</span>
                </div>
                <div class="input-container focus">
                    <input type="tel" name="phone" value="{{ request.user.telefono }}" class="input" id="inputNt"
                        disabled>
                    <label for="">Teléfono</label>
                    <span>Teléfono</span>
                </div>
                <div class="input-container textarea focus">
                    <textarea name="message" value="{{ request.user.direccion }}" class="input" id="inputText"
                        disabled></textarea>
                    <label for="">Dirección</label>
                    <span>Dirección</span>
                </div>
                <a href="{% url 'ActualizarInf' %}" class="btn1" id="boton">Actualizar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}

<!-- Conatiner JS -->
{% block js %}
<script>
    const textarea = document.querySelector("textarea").value = "{{ request.user.direccion }}"
</script>
{% endblock %}
<!-- End Conatiner JS -->