{% extends "Base Admin.html" %}
{% load static %}

<!-- Conatiner CSS -->
{% block css %}
<link rel="stylesheet" href=" {% static 'Plataforma/css/Sitio Administrativo.css' %}">
<link rel="stylesheet" href=" {% static 'Plataforma/libs/Datatable/CSS/dataTables.bootstrap5.css' %}">
<link rel="stylesheet" href=" {% static 'Plataforma/libs/Datatable/CSS/buttons.bootstrap5.css' %}">
<link rel="stylesheet" href=" {% static 'Plataforma/libs/Datatable/CSS/responsive.bootstrap5.css' %}">
<link rel="stylesheet" href=" {% static 'Plataforma/css/datatable.css' %}">
{% endblock %}
<!-- End Conatiner CSS -->


{% block content %}
    <iframe src="{% static 'Plataforma/pdf/Instalación Módulo.pdf' %}" width="100%" style="height: 100vh; margin-left: 6px; margin-top: 5px;" frameborder="0px"></iframe>
{% endblock %}

<!-- Conatiner JS -->
{% block js%}

{% endblock %}
<!-- End Conatiner JS -->