{% extends "Base.html" %}
{% load static %}

<!-- Conatiner CSS -->
{% block css %}
<link rel="stylesheet" href=" {% static 'Plataforma/css/Sitio Administrativo.css' %}">
<link rel="stylesheet" href=" {% static 'Plataforma/css/Noticias Usuario.css' %}">
{% endblock %}
<!-- End Conatiner CSS -->


{% block content %}
<main class="content-inside px-3 py-2 mx-2">
  <div>
    <h3 class="card-title text-center" style="color: #005296;">Noticias</h3>
  </div>
  <hr class="noticias">
  {% if page_obj.paginator.count > 0 %}
  {% for noticia in page_obj %}
  <section>
    <div class="card">
        <div class="row p-2 d-flex justify-content-center">
            <div class="row"style="display:flex;">
            {% if noticia.imagen_cabecera %}
            <div class="col-lg-3 col-md-12 col-sm-12">
                <img class="img-noticias" src="{{ noticia.imagen_cabecera.url }}"></img>
            </div>
            {% endif %}
            <div class="col-lg-9 col-md-12 col-sm-12 pt-2" style="padding-right:0;">
                <h6 class="title">{{ noticia.titulo }}</h6>
                 <!-- <span class="fecha">{{ noticia.on_create|date:"d-m-Y" }}</span> -->
                 <p class="text" aria-valuetext="{% url 'VisualizarNoticiasUsuario' noticia.id %}">{{ noticia.resumen }}</p>
            </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
<div class="pagination d-flex justify-content-center align-content-center">
    <span class="step-links">
        {% if page_obj.has_previous  %}
        <a href="?page=1"><i class="bi bi-chevron-double-left"></i></a>
        <a href="?page= {{ page_obj.previous_page_number }}"><i class="bi bi-chevron-left"></i></a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"><i class="bi bi-chevron-right"></i></a>
            <a href="?page={{ page_obj.paginator.num_pages }}"><i class="bi bi-chevron-double-right"></i></a>
        {% endif %}
    </span>
</div>
  {% else %}
  <section class="d-flex flex-column justify-content-center align-content-center">
    <p class="text-center">
      No hay noticias
    </p>
  </section>
  {% endif %}
</main>
{% endblock %}

<!-- Conatiner JS -->
{% block js%}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        let elementos = document.querySelectorAll(".text");
        let elementos_aux = [];
    
        elementos.forEach((e) => {
            elementos_aux.push(e.innerText);
        });
    
        elementos.forEach((e) => {
            e.innerHTML = `${e.innerText} <a style="text-decoration: none;" href="${e.ariaValueText}"> ...leer más</a>`;
        });
    
    });
</script>
{% endblock %}
<!-- End Conatiner JS -->