{% extends "Base Admin.html" %}
{% load static %}

<!-- Conatiner CSS -->
{% block css %}
<link rel="stylesheet" href=" {% static 'Plataforma/css/Sitio Administrativo.css' %}">
<link rel="stylesheet" href=" {% static 'Plataforma/css/Noticias Usuario.css' %}">
{% endblock %}
<!-- End Conatiner CSS -->


{% block content %}
<main class="content-inside px-3 py-2 mx-2">
  <section>
    <div class="card">
        <div class="p-2" style="display:flex; flex-direction:column;">
            <div>
            {% if noticia.imagen_cabecera %}
            <div>
                <img class="img" src="{{ noticia.imagen_cabecera.url }}"></img>
            </div>
            {% endif %}
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 pt-2" style="padding-right:0;">
                <h6 class="title">{{ noticia.titulo }}</h6>
                 <!-- <span class="fecha">{{ noticia.on_create|date:"d-m-Y" }}</span> -->
                
                <p class="text">{{ noticia.cuerpo }}</p>
            </div>
            </div>
        </div>
    </div>
</section>
</main>
{% endblock %}

<!-- Conatiner JS -->
{% block js%}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        let elementos = document.querySelectorAll(".text");
        let elementos_aux = [];
    
        elementos.forEach((e) => {
            elementos_aux.push(e.innerText);
        });
    
        elementos.forEach((e) => {
            e.innerHTML = `${e.innerText}`;
        });
    
    });
</script>
{% endblock %}
<!-- End Conatiner JS -->