
.container-form{    
    width: 100%;
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* 1);
    padding-left: calc(var(--bs-gutter-x)* 1);
    margin-right: auto;
    margin-left: auto;
}

.form-control:focus {
    color: #ffffff;
    background-color: #4481eb;
    border-color:  #ffffff;
    outline: 0;
    box-shadow: 0 3px 9px rgba(36, 36, 37, 0.493), 3px 4px 8px rgba(94, 114, 228, 0.1);
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4rem;
    color: #ffffff;
    background-color:#4481eb !important;
    background-clip: padding-box;
    border: 2px solid #ffffff;
    appearance: none;
    border-radius: 1.5rem;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.card {
    box-shadow: 0 3px 9px rgba(36, 36, 37, 0.493), 3px 4px 8px rgba(94, 114, 228, 0.1);
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 0;
    --bs-card-border-color: rgba(0, 0, 0, 0.125);
    --bs-card-border-radius: 1rem;
    --bs-card-box-shadow: 0 0 2rem 0 rgba(43, 44, 46, 0.932);
    --bs-card-inner-border-radius: 1rem;
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: #ffffff ;
    --bs-card-bg:  #4481eb;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
   
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

label, .form-label {
    font-size: 1rem;
    color: #ffffff;
    padding: 10px;
}

label {
    display: inline-block;
}
*, *::before, *::after {
    box-sizing: border-box;
}

label {
    cursor: default;
}

.white-content .btn:not([data-action]):hover {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-primary:not([data-action]):hover {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
}
.btn:not([data-action]):hover, .navbar .navbar-nav>a.btn:not([data-action]):hover {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:focus, .btn-primary.active:hover {
    background-color: #ffffff !important;
    background-image: linear-gradient(to bottom left, #212d57, #15468a, #212d57) !important;
    background-image: -webkit-linear-gradient(to bottom left, #212d57, #15468a, #212d57) !important;
    background-image: -o-linear-gradient(to bottom left, #212d57, #15468a, #212d57) !important;
    background-image: -moz-linear-gradient(to bottom left, #212d57, #15468a, #212d57) !important;
    color: #ffffff;
    box-shadow: none;
}
.btn:hover, .btn:focus, .btn:hover, .btn:focus {
    opacity: 1;
    filter: alpha(opacity = 100);
    outline: 0 !important;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn:active:focus, .btn:active:hover, .btn.active:focus, .btn.active:hover, .navbar .navbar-nav>a.btn:hover, .navbar .navbar-nav>a.btn:focus, .navbar .navbar-nav>a.btn:active, .navbar .navbar-nav>a.btn.active, .navbar .navbar-nav>a.btn:active:focus, .navbar .navbar-nav>a.btn:active:hover, .navbar .navbar-nav>a.btn.active:focus, .navbar .navbar-nav>a.btn.active:hover {
    background-color: #212d57 !important;
    background-image: linear-gradient(to bottom left, #212d57, #15468a, #212d57) !important;
    background-image: -webkit-linear-gradient(to bottom left, #212d57, #15468a,  #212d57) !important;
    background-image: -o-linear-gradient(to bottom left, #212d57, #15468a, #212d57) !important;
    background-image: -moz-linear-gradient(to bottom left, #212d57, #15468a, #212d57) !important;
    color: #ffffff;
    box-shadow: none;
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(2, 41, 126, 0.5);
}
.btn-primary:hover {
    color: #ffffff;
    background-color: #212d57;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.btn:hover {
    color: #ffffff;
    text-decoration: none;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}
button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
.btn {
    cursor: pointer;
}
.btn-primary {
    background:  #eeeeee;
    background-image: -webkit-linear-gradient(to bottom left, #ffffff,  #ffffff, #ffffff);
    background-image: -o-linear-gradient(to bottom left, #fdfdfd,  #ffffff, #ffffff);
    background-image: -moz-linear-gradient(to bottom left, #ffffff, #ffffff, #ffffff);
    background-image: linear-gradient(to bottom left, #ffffff, #ffffff, #ffffff);
    background-size: 210% 210%;
    background-position: top right;
    background-color:  #ffffff;
    transition: all 0.15s ease;
    box-shadow: none;
    color:  #212d57;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    --bs-btn-border-color: none !important;
    --bs-btn-hover-border-color: none !important;
}
.btn {
    margin-bottom: 1rem;
    letter-spacing: -0.025rem;
    text-transform: none;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    display: inline-block;
    font-weight: 600;
    color: #212d57;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px ;
    padding: 11px 40px;
    font-size: 0.875rem;
    line-height: 1.35em;
    border-radius: 1.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
}

textarea.form-control {
    max-width: 100%;
    max-height: 80px;
    line-height: 2;
}
textarea .form-control {
    height: auto;
    border-radius: 1rem !important;
}
.horizontal.dark {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}
.title-text{
    text-align: center;
    color: #212d57;
}
.textt{
    text-align: center;
    color: white;
}

.boot{
    padding-bottom: 20px;
    padding-top: 20px !important;
}

select {
    border: none;
    outline: 0;
    font: inherit;
    /* background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
     */
    width: 20em;
    height: 3em;
    padding: 0 4em 0 1em;
    color: rgb(255, 255, 255);
    border-radius: 1.5em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* <option> colors */
    /* Remove focus outline */
    /* Remove IE arrow */
}
select option {
    color: inherit;
    background-color: #615c6079 !important;
}
select:focus {
    outline: none;
}
select::-ms-expand {
    display: none;
}

::placeholder{
    color: rgba(255, 255, 255, 0.404) !important;
    font-style: italic;
}

.form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e);
}
.form-check-input:checked {
    background-color: #66a8f3 !important;
    border-color: #212d57 !important;
}
.form-check-input[type=radio] {
    border-radius: 50%;
}
.form-check-input {
    --bs-form-check-bg: var(--bs-body-bg);
    flex-shrink: 0;
    width: 1.2em !important;
    height: 1.2em !important;
    margin-top: .25em;
    vertical-align: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent !important;
    background-image: var(--bs-form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input {
    overflow: visible;
}

.parenttt-container {
    padding: 50px 0;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh; /* Esto hace que el contenedor padre ocupe toda la altura de la ventana */
    flex-direction: column !important;
}