{% extends "Base Admin.html" %}
{% load static %}

<!-- Conatiner CSS -->
{% block css %}
<link rel="stylesheet" href=" {% static 'AtencionPoblacion/css/FormularioSelect.css' %}">
{% endblock %}
<!-- End Conatiner CSS -->

{% block content %}
{% if messages %}
            {% for message in messages  %}
            <div style="position: absolute; right: 20px; top: 40px; display: flex; align-items: center; padding-right: 0rem;  z-index: 2000"
            class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button style="font-size: 10px; border-bottom: none; position: relative; box-shadow: none;" type="button"
                class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </button>
            </div>
            {% endfor %}
        {% endif %}
<div class="container-form">
  <div class="form">
    <div class="contenedor-titulo">
      <h3 class="title d-flex justify-content-center align-content-center text-center ">Información del Trámite</h3>
    </div>
    <div class="contact-form">
      <form >
        
        <div id="error-container">

        </div>
        {% if response %}
        {% if response == 'correcto' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert"
          style="height:40px; position: fixed; right: 20px; top: 50px; display: flex; align-items: center; padding-right: 0rem;  z-index: 2000">
          {{ message }}
          <button style="font-size: 10px; border-bottom: none; position: relative; box-shadow: none;" type="button"
            class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </button>
        </div>
        {% endif %}
        {% endif %}
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 pb-2">
            <div class="data">
            <label>Ticket:</label>
            <span>{{ form.numero_seguimiento }}</span>
            </div>
            </div>
          <div class="col-lg-6 col-md-12 col-sm-12 pb-2">
            <div class="data">
            <label>Nombre:</label>
            <span>{{ form.nombre }}</span>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 pb-2 ">
            <div class="data">
            <label>Apellidos:</label>
            <span>{{ form.apellidos }}</span>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 pb-2 pt-1">
            <div class="data">
            <label>Email:</label>
            <span><a href="mailto:{{ form.email }}">{{ form.email }}</a></span>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 pb-2 pt-1">
            <div class="data">
            <label>Carnet de Identidad:</label>
            <span>{{ form.ci }}</span>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 pb-2 pt-1 ">
            <div class="data">
            <label>Teléfono:</label>
            <span>{{ form.telefono }}</span>
            </div>
          </div>
          <div class="col-lg-10 col-md-12 col-sm-12 pb-2 pt-1">
            <div class="data">
            <label>Dirección:</label>
            <span>{{ form.direccion }}</span>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 pb-2 pt-1">
            <div class="data">
            <label>Municipio:</label>
            <span>{{ form.municipality }}</span>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 pb-2 pt-1">
            <div class="data">
            <label>Consulta:</label>
            <span>{{ form.consulta }}</span>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 pb-2 pt-1">
            <div class="data">
            <label>Asunto:</label>
            <span>{{ form.asunto }}</span>
            </div>
          </div>
          {% if form.adjunto %}
          <div class="col-lg-6 col-md-12 col-sm-12 pb-2 pt-1">
            <div class="data">
            <label> Archivo Adjunto:</label>
            <span><a href="{{ form.adjunto.url }}">{{ form.adjunto }}</a></span>
            </div>
          </div>
          {% endif %}
          <div class="col-lg-12 col-md-12 col-sm-12 pb-2 pt-1">
            <div class="data">
            <label>Mensaje:</label>
            <span class="data-mensaje">{{ form.mensaje }}</span>
            </div>
          </div>
        <a href="{% url "Tramites" %}" id="boton" class="btn1 mt-1">Volver</a>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

<!-- Conatiner JS -->
{% block js %}
{% endblock %}
<!-- End Conatiner JS -->