{% extends "navbar.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href=" {% static 'libs/Datatable/CSS/dataTables.bootstrap5.css' %}">
  <link rel="stylesheet" href=" {% static 'libs/Datatable/CSS/buttons.bootstrap5.css' %}">
  <link rel="stylesheet" href=" {% static 'libs/Datatable/CSS/responsive.bootstrap5.css' %}">
  <link rel="stylesheet" href="{% static 'css/datatableSD.css' %}">
  <link rel="stylesheet" href="{% static 'css/buscar.css' %}">
{% endblock %}

{% block content %}
  <section class="tabla" id="TramitesList">
    <div class="card card-a p-3 h-100">
      <div class="card-header">
        <h5 class="card-title title-t" style=" text-align: center;">
          <i class="bi bi-file-earmark-text-fill"></i>
            Mis Trámites
        </h5>
      </div>

      <!-- Formulario para ingresar el número de seguimiento -->
      <form action="" method="get"  class="row" style ="padding-top:20px">
        <input type="text" class="buscar col-4" name="numero_seguimiento" placeholder="Ingrese su número de seguimiento aquí">
        <button class="boton-buscar col-5" type="submit">Buscar</button>
      </form>

      {% if mensaje %}
      <p style="padding-top:20px">{{ mensaje }}</p>
      {% endif %}

      <!-- El resto del contenido -->

      <!-- El resto del contenido de la sección -->
      {% if tramites %}
        <!-- Muestra los trámites -->
      <table id="Tramites" class="display table table-striped table-hover table-primary" style="width:100%; height: 100%;">
        <thead class="encabezado">
            <tr>
              <th scope="col" style="color: white; text-align: center;">No</th>
              <th scope="col" style="color: white; text-align: center;">Nombre</th>
              <th scope="col" style="color: white; text-align: center;">Apellidos</th>
              <th scope="col" style="color: white; text-align: center;">Estudio</th>
              <th scope="col" style="color: white; text-align: center;">Uso</th>
              <th scope="col" style="color: white; text-align: center;">Tr&aacute;mite</th>
              <th scope="col" style="color: white; text-align: center;">C&oacute;digo</th>
              <th scope="col" style="color: white; text-align: center;">Estado</th>
              <th scope="col" style="color: white; text-align: center;">Opciones</th>
            </tr>
          </thead>
        <tbody>
          {% for t in tramites %}
            <tr>
              <td style=" text-align: center;">{{forloop.counter}}</td>
              <td style=" text-align: start;">{{t.nombre}}</td>
              <td style=" text-align: start;">{{t.apellidos}}</td>
              <td style=" text-align: start;">
                {% if t.tipo_estudio %}
                  {{t.tipo_estudio}}
                {% elif t.tipo_est %}
                  {{t.tipo_est}}
                {% endif %}
              </td>
              <td style="text-align: start;">
                {% if t.uso %}
                    {{ t.uso }}
                {% else %}
                  {{ t.uso_i }}
                
                    {# Opcional: manejar el caso en que ninguno de los dos campos esté establecido, aunque mencionaste que siempre habrá uno de ellos con un valor #}
                {% endif %}
              </td>
              <td style=" text-align: start;">
                {% if t.tipo_pren and t.tipo_prei and t.tipo_posn and t.tipo_posi %}
                  {{ t.tipo_pren }} {{ t.tipo_prei }} {{ t.tipo_posn }} {{ t.tipo_posi }}
                {% elif not t.tipo_pren and not t.tipo_prei and not t.tipo_posn and not t.tipo_posi %}
                  {{ t.legalizacion }}
                {% else %}
                  {{ t.tipo_pren }} {{ t.tipo_prei }} {{ t.tipo_posn }} {{ t.tipo_posi }}
                {% endif %}
              </td>
              <td style=" text-align: start;">{{t.numero_seguimiento}}</td>
              <td style=" text-align: start;">{{ t.estado }}</td>
              <td style=" text-align: center;">
                <a href= "{% url 'Tramites_Detail' t.id %}"> <i class="ico bx bx-info-circle"></i></a>
                <!-- Icono -->
                <a href="#" onclick="openModal(); return false;" class="btn btn-danger">Eliminar Trámite</a>

                <!-- Ventana Modal -->
                <div id="myModal" class="modal">
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>¿Estás seguro de que quieres eliminar este trámite?</p>
                  </div>
                </div>
                <a class="iconos p-2" id="deleteIcon" data-bs-toggle="modal" data-bs-target="#Tramite{{ t.id }}"><i class="ico bx bx-trash"></i></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    </div>
  </section>
{% endblock %}
   
{% block js %}
  <script src="{% static 'libs/Datatable/JS/jquery-3.7.1.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/dataTables.js' %}"></script>  
  <script src="{% static 'libs/Datatable/JS/dataTables.bootstrap5.js' %}"></script>
  <!--Botones DataTables-->  
  <script src="{% static 'libs/Datatable/JS/dataTables.buttons.js' %}"></script>  
  <script src="{% static 'libs/Datatable/JS/buttons.bootstrap5.js' %}"></script>  
  <script src="{% static 'libs/Datatable/JS/jszip.min.js' %}"></script>  
  <script src="{% static 'libs/Datatable/JS/pdfmake.min.js' %}"></script>  
  <script src="{% static 'libs/Datatable/JS/vfs_fonts.js' %}"></script>  
  <script src="{% static 'libs/Datatable/JS/buttons.html5.min.js' %}"></script>  
  <script src="{% static 'libs/Datatable/JS/buttons.print.min.js' %}"></script>  
  <script src="{% static 'libs/Datatable/JS/bottons.colVis.min.js' %}"></script>  
  <!--DataTables responsivo-->
  <script src="{% static 'libs/Datatable/JS/dataTables.responsive.js' %}"></script>  
  <script src="{% static 'libs/Datatable/JS/responsive.bootstrap5.js' %}"></script>  
  <!--Inicializar DataTables-->
  <script src="{% static 'libs/Datatable/JS/tramiteslist.js' %}"></script>

  {% endblock %}