  {% extends "navbar.html" %}
  {% load static %}
  
    {% block css %}
      <link rel="stylesheet" href="{% static 'css/TramitesSD copy.css' %}">
    {% endblock %}
  
  
    {% block content %}
      <div class="content" >
        <div class="col">
          <div class="container-form">
            <div class="form">
              <div class="container-fluid py-4">
                <div class="row">
                  <div id="error-container">

                  </div>
                  <div class="col-md-12">
                    <div class="card">
                      {% if messages %}
                      {% for message in messages %}
                        {% if message.tags == 'success' %}
                          <div style="position: absolute; right: 20px; top: 40px; display: flex; align-items: center; padding-right: 0rem; z-index: 2000;"
                              class="alert alert-success alert-dismissible fade show" role="alert">
                        {% elif message.tags == 'error' %}
                          <div style="position: absolute; right: 20px; top: 40px; display: flex; align-items: center; padding-right: 0rem; z-index: 2000; "
                              class="alert alert-danger alert-dismissible fade show" role="alert">
                        {% endif %}
                          {{ message }}
                            <button style="font-size: 10px; border-bottom: none; position: relative; box-shadow: none;" type="button"
                              class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                      {% endfor %}
                    {% endif %}
                      <div class="card-header pb-0">
                        <div class="title">
                          <h3 class="title-text p-3">Solicitud de Tr&aacute;mite</h3>
                          <p class="text">
                              Por favor, complete todos los campos requeridos para enviar su solicitud.
                              Su informaci&oacute;n es vital para procesar su solicitud de manera adecuada y brindarle el mejor servicio posible.
                          </p>
                        </div>
                      </div>
                      <form  id="formu" method="POST">
                        {% csrf_token %}
                        <div class="card-body">
                          <h4 class="textt text-sm">Datos Generales</h4>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="text-input" class="form-control-label">Nombre</label>
                                {{form.nombre}}
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Apellidos</label>
                                {{form.apellidos}}
                              </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                              <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Carnet de Identidad</label>
                                {{form.ci}}
                              </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                              <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Correo Electr&oacute;nico</label>
                                {{form.email}}
                              </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                              <div class="form-group">
                                <label for="example-text-input" class="form-control-label">N&uacute;mero de M&oacute;vil</label>
                                {{form.telefono}}
                              </div>
                            </div>
                          </div>
                          <hr class="horizontal dark">
                          <h4 class="textt text-sm">Datos de la Solicitud</h4>
                          <div class="row">
                            <div class="col-md-6 col-lg-4">
                              <div class="form-group select">
                                <label for="text-input" class="form-control-label">Tipo de Estudio</label>
                                {{form.tipo_estudio}}
                              </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                              <div class="form-group select">
                                <label for="text-input" class="form-control-label">Uso</label>
                                {{form.uso}} 
                              </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                              <div class="form-group select">
                                <label for="text-input" class="form-control-label">Tipo de Tr&aacute;mite</label>
                                {{form.tipo_pren}}
                              </div>
                            </div>
                            <div class="col-md-12 justify-content-center align-items-center" style="padding-top:20px;display:flex; justify-content:center">
                              <div class="form-group">
                                <a href="{% url 'Pregrado_Nacional_Legalizacion' %}" class="btn1 m-2 btn btn-primary btn-sm text-decoration-none">Legalizaci&oacute;n de Fotocopia de T&iacute;tulo</a>
                              </div>
                            </div>
                            <div class="col-md-5">
                              <div class="form-group">
                                <label for="text-input" class="form-control-label">Organismo</label>
                                {{form.organismo}}
                              </div>
                            </div>
                            <div class="col-md-7">
                              <div class="form-group">
                                <label for="text-input" class="form-control-label">Motivo</label>
                                {{form.motivo}}
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="text-input" class="form-control-label">Funcionario</label>
                                {{form.funcionario}}
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="text-input" class="form-control-label">Carrera</label>
                                {{form.carrera}}
                              </div>
                            </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="text-input" class="form-control-label">Año</label>
                              {{form.year}}
                            </div>
                          </div>
                        </div>
                        <hr class="horizontal dark">
                        <h4 class="textt text-sm">Registro de T&iacute;tulos de la Secretar&iacute;a</h4>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="text-input" class="form-control-label">Tomo</label>
                              {{form.tomo}}
                              <div id="error-tomo" style="display:none;color:white;"></div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="text-input" class="form-control-label">Folio</label>
                              {{form.folio}}
                              <div id="error-folio" style="display:none;color:white;"></div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="text-input" class="form-control-label">N&uacute;mero</label>
                              {{form.numero}}
                              <div id="error-numero" style="display:none;color:white;"></div>
                            </div>
                          </div>
                        </div>
                        <div class="boot d-flex flex-wrap justify-content-center align-items-center">
                          <button type="submit" id="boton" class="btn btn-primary btn-sm m-2">Enviar</button>
                          <a href="{% url 'Secretaria' %}" class="btn btn-primary btn-sm m-2 text-decoration-none">Cancelar</a>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>    
        </div>
      </div>
    {% endblock %}
    
    {% block js %}
      <script src = "{% static 'js/validations.js' %}"></script>
    {% endblock %}
  
 
