{% extends "Base.html" %}
{% load static %}

<!-- Conatiner CSS -->
{% block css %}
<link rel="stylesheet" href=" {% static 'Notificaciones/css/notificaciones.css' %}">
{% endblock %}
<!-- End Conatiner CSS -->
{% block content %}

<div class="content-wrapper" style="min-height: 1302.12px;">
  <!-- Content Header (Page header) -->
  <!-- Main content -->
  <section class="content">
    <div class="row" style="padding: 20px 0 0 20px;">
      
      <div class="col-md-12">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Notificaciones</h3>

          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <div class="mailbox-controls">
              <!-- Check all button -->
              <button type="button" class="btn btn-default btn-sm checkbox-toggle check-btn"><i class="bx bx-check-square"></i>
              </button>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm delete-btn">
                  <i class="bx bx-trash"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm view-btn">
                  <i class="bx bx-show"></i>
                </button>
              </div>
              <!-- /.btn-group -->
              <button type="button" class="btn btn-default btn-sm update-btn">
                <i class="bx bx-sync"></i>
              </button>
              <div class="float-right">
                {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
                <div class="btn-group">
                  {% if page_obj.has_previous  %}
                  <a href="?page= {{ page_obj.previous_page_number }}">   
                    <button type="button" class="btn btn-default btn-sm">
                      <i class="bx bx-chevron-left"></i>
                    </button>
                  </a>
                  {% endif %}
                  {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">
                      <button type="button" class="btn btn-default btn-sm">
                        <i class="bx bx-chevron-right"></i>
                      </button>
                    </a>
                  {% endif %}
                </div>
                <!-- /.btn-group -->
              </div>
              <!-- /.float-right -->
            </div>
            <div class="table-responsive mailbox-messages">
              <table class="table table-hover table-striped" style="margin-bottom: 0;">
                <tbody>
                  
                  
                  {% if page_obj.paginator.count > 0 %}
                  <form action="" id="delete-form" method="post">
                    {% csrf_token %}
                  {% for n in page_obj %}
                <tr>
                  <td>
                    <div class="icheck-primary">
                      <input type="checkbox" name="selected-item" value="{{n.id}}" id="check1">
                      <label for="check1"></label>
                    </div>
                  </td>
                  <td class="mailbox-name"><span 
                    class="badge bg-{% if n.tipo == 'Info' %}primary {% elif n.tipo == 'Warning' %}danger {% else %}secondary{% endif %}"
                    style="color: #fff;"
                    >
                    {{n.asunto}}
                  </span></td>
                  <td class="mailbox-subject">{{n.cuerpo}}
                  </td>
                  <td class="mailbox-attachment"></td>
                  <td class="mailbox-date">{{n.creado}}</td>
                  <td class="mailbox-star"><a href="#"><i class="bx bx-show text-success"></i></a></td>
                </tr>
                {% endfor %}
                </form>
                {% else %}
                <tr>
                  <td>Sin notificaciones pendientes</td>
                </tr>
                {% endif %}
                </tbody>
              </table>
              <!-- /.table -->
            </div>
            <!-- /.mail-box-messages -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer p-0">
            <div class="mailbox-controls">
              <!-- Check all button -->
              <button type="button" class="btn btn-default btn-sm checkbox-toggle check-btn"><i class="bx bx-check-square"></i>
              </button>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm delete-btn">
                  <i class="bx bx-trash"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm view-btn">
                  <i class="bx bx-show"></i>
                </button>
              </div>
              <!-- /.btn-group -->
              <button type="button" class="btn btn-default btn-sm update-btn">
                <i class="bx bx-sync"></i>
              </button>
              <div class="float-right">
                {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
                <div class="btn-group">
                  {% if page_obj.has_previous  %}
                  <a href="?page= {{ page_obj.previous_page_number }}">   
                    <button type="button" class="btn btn-default btn-sm">
                      <i class="bx bx-chevron-left"></i>
                    </button>
                  </a>
                  {% endif %}
                  {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">
                      <button type="button" class="btn btn-default btn-sm">
                        <i class="bx bx-chevron-right"></i>
                      </button>
                    </a>
                  {% endif %}
                </div>
                <!-- /.btn-group -->
              </div>
              <!-- /.float-right -->
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
  
{% endblock %}

{% block js %}
<script>
  let deleteForm = document.querySelector("#delete-form")
  let deleteButtons = document.querySelectorAll(".delete-btn")
  let updateButtons = document.querySelectorAll(".update-btn")
  let viewButtons = document.querySelectorAll(".view-btn")
  let checkButtons = document.querySelectorAll(".check-btn")
  Array.from(deleteButtons).forEach(element => {
    element.addEventListener('click', () => {
      deleteForm.action="{% url "BorrarNotificaciones" %}?next={{ request.path }}"
      deleteForm.submit()
    })
  });
  Array.from(updateButtons).forEach(element => {
    element.addEventListener('click', () => {
      window.location.reload();
    })
  });
  Array.from(viewButtons).forEach(element => {
    element.addEventListener('click', () => {
      deleteForm.action="{% url "VisualizarNotificaciones" %}?next={{ request.path }}"
      deleteForm.submit()
    })
  });
  Array.from(checkButtons).forEach(element => {
    element.addEventListener('click', () => {
      checkboxes = Array.from(document.querySelectorAll("#check1")).forEach(e => {
        e.checked = !e.checked
      })

    })
  });
</script>
{% endblock %}