{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'libs/Bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/Base.css' %}">
  <link rel="stylesheet" href="{% static 'libs/boxicons-2.1.4/css/boxicons.css' %}">
  <link rel="stylesheet" href="{% static 'libs/Bootstrap/icon/bootstrap-icons.min.css' %}">
  <link rel="icon" type="image/png" sizes="50x50" href="{% static 'img/Id UHo-03-white.png' %}">

  <!-- Container CSS -->
  {% block css %}
  {% endblock %}
  <!-- End Container JS -->

  <title>Trámites Universidad de Holguín</title>


</head>

<body>

  <!-- Sidebar -->
  <div class="container-fluid p-0 d-flex h-100">
    <div id="bdSidebar"
      class="d-flex flex-column flex-shrink-0 p-3  pt-0 pb-0 text-white offcanvas-md offcanvas-start responsivo"
      style="width: 250px">
      <a href="{% url "Administracion" %}" class="navbar-brand">
        <img src="{% static 'img/Id UHo-03-white.png' %}" width="200px" height="80px" alt="">
      </a>
      <hr>
      {% if request.user.is_authenticated %}
      <ul class="mynav nav nav-pills flex-column mb-auto">
        <li class="nav-item mb-1" aria-label="">
          <a href="#" class="usuario" >
            <i class="bi bi-person-circle mx-1" style="font-size:1.1rem;"></i>
             Bienvenido, <strong>{{ user.username }}</strong>
          </a>
        </li>
        <li class="nav-item mb-1" aria-label="">
          <a href="{% url 'Inicio' %}" class="active">
            <i class="bx bxs-widget"></i>
            Inicio
          </a>
        </li>
        <li class="nav-item mb-1" aria-label="NoticiasUsuario">
          <a href="{% url 'NoticiasUsuario' %}" class="">
            <i class="bx bx-news"></i>
            Noticias
          </a>
        </li>
        <li class="nav-item mb-1" aria-label="Notificaciones">
          <a href="{% url 'Bandeja' %}" class="">
            <i class="bx bx-bell"></i>
            Notificaciones
            <span class="notification-badge">{{notificaciones_count}}</span>
          </a>
        </li>
        <li class="nav-item mb-1" aria-label="Tramite">
          <a href="#" class="sidebar-link collapsed" data-bs-target="#pages" data-bs-toggle="collapse"
            aria-expanded="false">
            <i class="bx bx-folder-open"></i>
            Trámites
          </a>
          <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
            <!-- Colocar Nuevos Módulos Aquí -->
            <li class="nav-item mb-1 " aria-label="InicioSD">
              <a href="{% url "Secretaria" %}" class="sidebar-link">Secretaría Docente</a>
            </li>
            <!-- Fin de colocar nuevos módulos aquí -->
          </ul>
        </li>
        <li class="nav-item mb-1" aria-label="MisTramites">
          <a href="{% url 'MisTramites' %}" class="">
            <i class="bx bx-file"></i>
            Mis trámites
          </a>
        </li>
        <li class="nav-item mb-1" aria-label="InfoPersonal">
          <a href="{% url 'InfoPersonal' %}" class="">
            <i class="bx bx-user"></i>
            Información Personal
          </a>
        </li>
        <li class="nav-item mb-1" aria-label="AtencionPoblacion">
          <a href="{% url 'AtencionPoblacion' %}" class="">
            <i class="bx bx-help-circle"></i>
            Atención a la población
          </a>
        </li>
      </ul>
      <hr class="mb-0">
      <div>
        <ul class="mynav nav nav-pills flex-column mb-auto ">
          <li class="nav-item mb-1 " aria-label="CerrarSesion">
            <a class="" data-bs-toggle="modal" data-bs-target="#Inicio">
              <i class="bx bx-log-out"></i>
              Cerrar Sesión
            </a>
          </li>
        </ul>
      </div>
      {% else %}

      <ul class="mynav nav nav-pills flex-column mb-auto">
        <li class="nav-item mb-1">
          <a href="{% url 'Inicio' %}" class="active" aria-label="">
            <i class="bx bxs-widget"></i>
            Inicio
          </a>
        </li>
        <li class="nav-item mb-1" aria-label="NoticiasUsuario">
          <a href="{% url 'NoticiasUsuario' %}" class="">
            <i class="bx bx-news"></i>
            Noticias
          </a>
        </li>
        <li class="nav-item mb-1" aria-label="Tramite">
          <a href="#" class="sidebar-link collapsed" data-bs-target="#pages" data-bs-toggle="collapse"
            aria-expanded="false">
            <i class="bx bx-folder-open"></i>
            Trámites
          </a>
          <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
            <!-- Colocar Nuevos Módulos Aquí -->
            <li class="nav-item mb-1 " aria-label="InicioSD">
              <a href="{% url "Secretaria" %}" class="sidebar-link">Secretaría Docente</a>
            </li>
            <!-- Fin de colocar nuevos módulos aquí -->
          </ul>
        </li>
        <li class="nav-item mb-1" aria-label="SolicitudTramite">
          <a href="{% url 'SolicitudTramite' %}" class="">
            <i class="bi bi-search mx-1" style="font-size:1rem;"></i>
            Solicitud de Trámite
          </a>
        </li>
        <li class="nav-item mb-1" aria-label="AtencionPoblacion">
          <a href="{% url 'AtencionPoblacion' %}" class="">
            <i class="bx bx-help-circle"></i>
            Atención a la población
          </a>
        </li>
        <li class="nav-item mb-1 " aria-label="Login">
          <a href="{% url 'Login' %}" class="">
            <i class="bx bx-log-in"></i>
            Iniciar Sesión
          </a>
        </li>
      </ul>

      {% endif %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="Inicio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="color:black"><i class="bxi bi-exclamation-triangle"
                style="color:black"></i> Advertencia</h5>
            <button type="button" class="btn-close cerrar" data-bs-dismiss="modal" aria-label="Close" style="box-shadow: none"></button>
          </div>
          <div class="modal-body" style="color:black">
            ¿Desea cerrar esta sesión?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
            <a href="{% url 'CerrarSesion' %}" class="btn btn-primary">Aceptar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="contenedor">
      <div class="p-2 d-md-none d-flex text-white responsivo">
        <a href="#" class="text-white" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar">
          <i class="bx bx-menu"></i>
        </a>
        <span class="ms-3">Trámites Universidad de Holguín</span>
      </div>
      <!-- End Sidebar -->

      <div class="main-container">
        <div class="row content">
          <div class="col">
            <!-- Container -->
            {% block content %}
            {% endblock %}
            <!-- End Container -->
          </div>

          <!-- Footer -->
          <p class="text-center pb-2 footer">Copyright &copy; 2024 Trámites Universidad de Holguín. All rights reserved.
          </p>
          <!-- End Footer-->
        </div>
      </div>
    </div>

    <!-- Container JS -->
    {% block js %}
    {% endblock %}
    <script src=" {% static 'libs/Bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src=" {% static 'js/script.js' %}"></script>
    <script src=" {% static 'js/Modals Inicio.js' %}"></script>
    <!-- End Container Js -->



</body>

</html>